/* You can add global styles to this file, and also import other style files */

/* Reseteo global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Etiquetas creadas con template */
.lista-item {
    padding: 8px 12px;
    border: 1px solid #27272A;
    border-radius: 6px;
    background-color: #FAFAFA;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.titulo-noticia {
    font-size: 1.5rem;
    border-bottom: 1px solid #27272A;
    padding-bottom: 4px;
    margin-bottom: 12px;
}

.imagen-noticia {
    width: 33.333%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.texto-noticia {
    text-align: justify;
    padding-bottom: 12px;
}

.fecha-noticia {
    font-size: 0.85rem;
    text-align: right;
}