<section class="blog">
    <div class="form">
        <h2>Crear una nueva noticia</h2>
        <div class="form-data">
            <label for="titulo">Título de la noticia</label>
            <input type="text" id="titulo" [(ngModel)]="titulo">
        </div>
        <div class="form-data">
            <label for="imagen">Imagen de la noticia (url)</label>
            <input type="text" id="imagen" [(ngModel)]="imagen">
        </div>
        <div class="form-data">
            <label for="texto">Texto de la noticia</label>
            <textarea type="text" id="texto" [(ngModel)]="texto"></textarea>
        </div>
        <div class="form-data">
            <label for="fecha">Fecha de publicación</label>
            <input type="text" id="fecha" [(ngModel)]="fecha">
        </div>
        <div>
            <span class="w-btn">
                <button (click)="guardarNoticia()">GUARDAR</button>
            </span>
            <span class="w-btn">
                <button (click)="borrarCampos()">BORRAR</button>
            </span> 
        </div>   
    </div>
    <hr>
    <div class="listado">
        <h2>Lista de noticias</h2>
        <ul [innerHTML]="listado" class="lista-noticias">

        </ul>
    </div>
</section>